.top_categories_grid {
	// border: 2px solid #000;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;

	.loading_categories_ui {
		opacity: 0.45;
		animation: skeleton-loading 1s linear infinite alternate;
		width: 100%;
		aspect-ratio: 1/0.5;
		border-radius: 0.5rem;
	}

	.top_categries_item {
		width: 100%;
		overflow: hidden;
		border-radius: 0.5rem;
		border: 1px solid #fde6e8;
		padding: 1rem;
		transition: background 200ms ease-in-out;
		height: fit-content;

		&:hover {
			background: #fde6e8;

			> div {
				img {
					transform: scale(1.08);
				}
			}
		}

		> div {
			width: 100%;
			aspect-ratio: 2/1;
			position: relative;
			border-radius: 0.5rem;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 200ms ease-in-out;
			}

			span {
				position: absolute;
				top: 1rem;
				left: 1rem;
				padding: 0.3rem 0.6rem;
				border-radius: 0.3rem;
				background-color: #d42a4c;
				color: #fff;
				font-weight: 600;
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 1024px) {
	.top_categories_grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (min-width: 1224px) {
	.top_categories_grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;

		.top_categries_item {
			padding: 0.5rem;

			> div {
				span {
					font-size: 1rem;
				}
			}
		}
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 70%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
