.skeleton {
	opacity: 0.45;
	animation: skeleton-loading 1s linear infinite alternate;
}

.loading_card_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 0.5rem;
	border: 1px solid #fbd0d4;
	overflow: hidden;
	height: fit-content;
	gap: 1rem;
	padding: 0.5rem;
	position: relative;

	.category_image_loading_skeleton {
		width: 100%;
		aspect-ratio: 1/1.5;
		border-radius: 0.5rem;
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 70%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
